# variables

### varible name should not have space

In [5]:
name lists="madhu","nimma"
name lists

SyntaxError: invalid syntax (4145220829.py, line 1)

### variable name shouid not start with a number

In [6]:
2names="madhu","nimma"
2names

SyntaxError: invalid decimal literal (1596886128.py, line 1)

### the only allowed special character is underscore

In [11]:
_name="nimma"
_name

'nimma'

In [12]:
name_lists="madhu","dhoni"
name_lists

('madhu', 'dhoni')

In [13]:
name+lists="madhu","nimma"
name+lists

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4028418006.py, line 1)